<div [class]="isMobile?'flex-col':'flex-row'" style="justify-content: space-around; align-items: center;">
  <div style="padding: 24px">
    <mat-card>
      <div class="flex-col">
        <label style="font-size: 4em;font-weight: 500" *ngIf="quizs[current]">ข้อที่ {{current+1}} : </label>
        <label style="font-size: 4em;font-weight: 500">{{quizs[current]?.statement}}</label>
      </div>
    </mat-card>
  </div>
  <div style="padding: 24px">
    <mat-card>
      <app-onscreen-keyboard (enter)="submit($event)"></app-onscreen-keyboard>
    </mat-card>
  </div>
</div>
<div style="position: fixed;width: 50px;height: 50px;border-radius: 25px;justify-content: center; align-items: center;top: 20px;left: 20px;background-color: #FFB300;font-size: 1.5em;font-weight: 500;box-shadow: 1px 1px 4px rgba(0,0,0,0.3)"
  class="flex-col">
  {{countdown/10}}
</div>
